body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
}

#game-board {
  background: rgb(244, 243, 243);
  width: 100vmin;
  height: 100vmin;
}
